// COLORS
$primary-color: rgb(2, 131, 242);
$white-tint: rgb(204, 214, 246);
$white: #ffffff;

// BORDER
$border-color: rgb(247, 247, 247);

// SHADOW
$box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
